.singleNewContainer{
    min-height: 100vh;
    
    margin-bottom: 50px;

    transition: 0.2s ease-in-out;
}
.singleNewImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;

    height: 300px;
}
.singleNewInfos{
    padding: 100px 20px;
}
.singleNewInfos{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    gap: 20px;
}
.singleNewName{
    font-size: 24px;
    font-weight: 600;

    color: var(--secondary-green);
}
.singleNewModality{
    color: var(--secondary-green);
}
.singleNewDesc{
    max-width: 500px;
    color: var(--secondary-green);
}
.singleNewText{
    margin-top: 50px;
    margin-bottom: 10px;

    color: var(--secondary-green);
}
.singleNewBtn{
    border: 2px solid var(--secondary-green);
    border-radius: 36px;

    padding: 10px;
    width: 200px;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-green);

    margin: 0 auto;

    transition: 0.3s;
}
.newsSchedule{
    width: 100%;
    height: auto;

    border: 1px solid var(--secondary-green);
    border-radius: 36px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    gap: 50px;
    padding: 20px 0;
}
.newContainer{
    width: 100%;

    display: flex;
    
    align-items: center;
    justify-content: center;

    gap: 20px;
}
.newContainer > span {
    color: var(--secondary-green);
    font-weight: 500;

    font-size: 14px;
}

@media(width >= 768px){
    .schedule{
        align-items: flex-start;
    }
    .singleNewImg{
        height: 400px;
    }
    .newContainer > span {
        font-size: 18px;
    }
    .newInfosContainer > span{
        display: flex;
        font-size: 16px;
    
        color: var(--secondary-green);
    }
    .singleNewName{
        font-size: 36px;
        font-weight: 600;
    
        color: var(--secondary-green);
    }
}
@media(width >= 1024px){
    .singleNewName{
        font-size: 36px;
    }
    .singleNewText{
        width: 100%;
        font-size: 20px;
    }
    .singleNewDesc{
        font-size: 18px;
        max-width: 1024px;
    }
    .singleNewInfos{
        padding-left: 105px ;
        padding-right: 105px ;
        max-width: 1024px;

        margin: 0 auto;
    }
    .singleNewBtn:hover{
        background-color: var(--secondary-green);
        color: var(--primary-white);

        transition: 0.3s;
    }
    @media(width >= 1440px){
        .singleNewImg{
            height: 600px;
        }
    }
}