.singleDanceContainer{
    min-height: 100vh;
    
    margin-bottom: 50px;

    transition: 0.2s ease-in-out;
}
.singleDanceImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;

    height: 300px;
}
.singleDanceInfos{
    padding: 100px 20px;
}
.singleDanceInfos{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    gap: 20px;
}
.singleDanceName{
    font-size: 24px;
    font-weight: 600;

    color: var(--secondary-green);
}
.singleDanceModality{
    color: var(--secondary-green);
}
.singleDanceDesc{
    max-width: 500px;
    color: var(--secondary-green);
}
.singleDanceText{
    margin-top: 50px;
    margin-bottom: 10px;

    color: var(--secondary-green);
}
.singleDanceBtn{
    border: 2px solid var(--secondary-green);
    border-radius: 36px;

    padding: 10px;
    width: 200px;

    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-green);

    margin: 0 auto;

    transition: 0.3s;
}
.schedule{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    gap: 50px;
}
.dayContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: flex-start;

    gap: 20px;


    border-bottom: 2px solid var(--secondary-green);
}
.dayInfosContainer{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 10px;

    margin-bottom: 10px;
}
.dayInfosContainer > span{
    display: flex;
    font-size: 12px;

    color: var(--secondary-green);
}
.dayInfosContainer > span > strong{
  font-weight: 550;
}
.dayContainer > span {
    color: var(--secondary-green);
    font-weight: 500;
}

@media(width >= 768px){
    .schedule{
        align-items: flex-start;
    }
    .singleDanceImg{
        height: 400px;
    }
    .dayContainer > span {
        font-size: 24px;
    }
    .dayInfosContainer > span{
        display: flex;
        font-size: 16px;
    
        color: var(--secondary-green);
    }
    .singleDanceName{
        font-size: 36px;
        font-weight: 600;
    
        color: var(--secondary-green);
    }
}
@media(width >= 1024px){
    .singleDanceName{
        font-size: 36px;
    }
    .singleDanceText{
        width: 100%;
        font-size: 20px;
    }
    .singleDanceDesc{
        font-size: 18px;
        max-width: 1024px;

        line-height: 1.5;
    }
    .singleDanceInfos{
        padding-left: 105px ;
        padding-right: 105px ;
        max-width: 1024px;

        margin: 0 auto;
    }
    .singleDanceBtn:hover{
        background-color: var(--secondary-green);
        color: var(--primary-white);

        transition: 0.3s;
    }
    @media(width >= 1440px){
        .singleDanceImg{
            height: 600px;
        }
    }
}