.teamCardContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    width: 100%;
}

.teamCardImage{
    width: 104px;
    height: 104px;

    background-size: cover;
    background-position: top;

    border: 2px solid var(--secondary-green);
    border-radius: 100%;
}
.teamCardInfos{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    gap: 10px;
    width: 50%;
}
.teamCardName{
    font-weight: bolder;
    font-size: 20px;

    color: var(--secondary-green);
}

.teamCardModality{
    color: var(--secondary-green);
    
}

@media(width >= 768px){
    .teamCardImage{
        width: 150px;
        height: 150px;
    }
    .teamCardName{
        font-weight: bolder;
        font-size: 32px;
    
        color: var(--secondary-green);
    
    }
    .teamCardAge{
        font-size: 20px;
    }
    .teamCardModality{
        font-size: 20px;
        
    }
}
@media(width >= 1024px){
    .teamCardContainer{
        width: 640px;

        gap: 40px;
    }
}
@media(width >= 1440px){
    .teamCardContainer{
        width: 1040px;

        gap: 40px;
    }
}