.headerContainer{
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}

.logoHeader{
    width: 150px;
}
.headerIcon{
    height: 15px;

    cursor: pointer;
}

@media(width >= 768px){
    .headerContainer{
        height: 60px;
    }
    .logoHeader{
        width: 200px;
    }
    .headerIcon {
        height: 20px;
    }
}