.inscricaoContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.inscricaoModal{
    width: 90%;
    max-width: 530px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.inscricaoClose{
    position: absolute;
    top: 12px;
    left: 12px;
    color: var(--secondary-green);
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.insricaoImage{
    background-image: url("https://i.imgur.com/GFZEUTw.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0;
}
.inscricaoTextContainer{
    padding: 12px;
    height: 50%; /* TIRAR DEPOIS QUANDO ADCICIONAR OUTRO BTN */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.inscricaoH1{
    color: var(--secondary-green);
}
.inscricaoBtn, .inscricaoWhiteBtn{
    border: 1px solid var(--secondary-green);
    border-radius: 8px;
    height: 48px;
    /* height: 28px; */
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    cursor: pointer;
    text-decoration: none;
}
.inscricaoBtn{
    background-color: var(--secondary-green);
    color: white;
}
.inscricaoWhiteBtn{
    background-color: transparent;
    color: var(--secondary-green);
}
.inscricaoSpan{
    font-size: 12px;
    color: var(--secondary-green);
}

@media(min-width: 768px){
    .inscricaoModal{
       flex-direction: row;
       height: 300px; /*  REMOVER QUANDO ADICIONAR OUTRO BTN */
    }
    .insricaoImage{
        height: 100%;
        width: 215px;
        border-radius: 8px 0 0 8px;
    }
    .inscricaoTextContainer{
        width: 50%;
    }
    .inscricaoBtn, .inscricaoWhiteBtn{
        height: 48px;
        font-size: 14px;
    }
    .inscricaoH1{
         font-size: 18px;
    }
}