.teamPageContainer{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    min-height: 100vh;

    gap: 10px;

    margin-bottom: 50px;

    transition: 0.2s ease-in-out;
}
.teamPageTitle{
    font-size: 42px;
    font-weight: 400;

    width: 330px;

    color: var(--primary-white);
}
.teamBackground{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--secondary-green);

    padding: 20px;

    height: 150px;
    width: calc(100% - 40px);

    border-radius: 0 0 100% 0;
}
.teamPageMain{
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    gap: 30px;
    
    padding: 20px;

    margin-top: 50px;
}

@media(width >= 768px){
    .teamPageContainer{
        align-items: center;
    }
    .teamPageTitle{
        font-size: 60px;
        font-weight: 400;
    
        width: 400px;
    
        color: var(--primary-white);
    }
    .teamBackground{
        height: 200px;
    }
}
@media(width >= 1024px){
    .teamBackground{
        width: 100%;
        padding: 20px 0;
        justify-content: center;
    }
    .teamTitleContainer{
        width: 640px;
    }
    .teamPageMain{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        align-items: flex-start;
        justify-content: center;
    
        gap: 30px;
        
        padding: 20px;

        max-width: 1300px;
    }
}
@media(width >= 1440px){
    .teamTitleContainer{
        width: 1040px;
    }
}