.landingContainer{
    min-height: 100vh;

    padding: 50px 20px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    gap: 50px;

    transition: 0.3s ease-in-out;
}
.landingTitle{
    font-size: 36px;
    font-weight: 400;

    text-align: start;

    color: var(--secondary-green);

    width: 260px;
}
.titleContainer{
    background-color: var(--primary-color);


    height: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 20px;


    border-radius: 0 0 100% 0;

    transition: 0.3s ease-in-out;
}
.landingImage{
    height: 300px;
    width: 100%;

    background-image: url('../../assets/ballet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: 0.3s ease-in-out;
}
.landingMain{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 50px;
}
.mainTitle{
    font-size: 24px;
    font-weight: 400;

    color: var(--secondary-green)
}
.danceContainer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 30px;
}
.danceBtn{
    text-decoration: none;

    padding: 15px 10px;

    border: 4px solid var(--secondary-green);
    border-radius: 36px;

    color: var(--secondary-green);

    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
}
.newsContainer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    gap: 30px;

}
.newsBtn{
    text-decoration: none;

    padding: 15px 64px;

    border: 4px solid var(--secondary-green);
    border-radius: 36px;

    color: var(--primary-white);
    background-color: var(--secondary-green);

    font-weight: 400;

}

.move {
    transform: translateX(-200px);
    transition: 0.3s ease-in-out;
}

@media(width >= 768px){
    .landingTitle{
        font-size: 60px;

        width: 400px;
    }
    .mainTitle{
        font-size: 36px;
    }
    .danceBtn{
        width: 508px;

        font-size: 24px;
    }
    .newsBtn{
        width: 400px;
        

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 24px;
    }
}