.newsCard{
    width: 100%;
    height: 400px;

    background-color: var(--secondary-green);

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    border-radius: 12px;
}

.newsCardImg{
    height: 200px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    border-radius: 12px 12px 0 0;
}
.newsInfoContainer{
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.newsCardName{
    font-weight: bolder;

    color: var(--primary-color);
}
.newsCardDesc{
    font-size: 14px;

    color: var(--primary-color);
}
.newsCardMore{
    padding: 20px 0;

    width: 100%;

    font-weight: bolder;

    color: var(--primary-white);

    text-decoration: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 5px;

    transition: 0.3s ease-in-out;
}
.newsCardMore:hover{
    gap: 10px;

    transition: 0.3s ease-in-out;
}
.line{
    border: 1px solid var(--primary-grey);

    width: 100%;
}

@media(width >= 768px){
    .newsCard{
        width: 80%;
    
        height: 300px;
    
        background-color: var(--secondary-green);
    
        display: flex;
        flex-direction: row;
    
        justify-content: flex-start;
        align-items: center;
    
        border-radius: 12px;

        gap: 20px;
    }
    .newsCardImg{
        height: 298px;
        width: 300px;
    
        background-repeat: no-repeat;
        background-size: cover;
    
        border-radius: 12px 0 0 12px;
    }
    .newsInfoContainer{
        width: 500px;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: center;

        padding: 10px;

        gap: 20px;
    }
    .newsCardName{
        font-size: 24px;

        width: auto;
    }
    .newsCardDesc{
        font-size: 18px;
    }
    .newsCardMore{
        font-size: 20px;

        cursor: pointer;
    }
}
@media(width >= 1440px) {
    .newsCard{
        max-width: 1230px;
    }
    .newsCardImg{
        width: 1000px;
    }
    .newsInfoContainer{
        width: auto;
    }
    .newsCardName{
        font-size: 36px
    }
    .newsCardDesc{
        width: 500px;
    }
    .newsCardMore{
        font-size: 24px;
    }
}