:root{
    --primary-color: #bdded7;
    --primary-green: #8fdac9;
    
    --primary-grey: #474346;
    --primary-white: #ffffff;
    --primary-black: #000000;

    font-family: 'Roboto', sans-serif;
}

